@use '../abstracts' as abs;

.card {
  cursor: pointer;
  max-width: 31rem;
  max-height: 40.1rem;
  border-radius: 0.5rem;
  border: 1px solid #f3f3fa;
  box-shadow: 0px 4px 20px 0px #4764c31a;
  overflow: hidden;
  margin-top: 2rem;

  &__body {
    padding: 2rem;
    > h1 {
      font-family: abs.$font-merri;
      font-size: 2.1rem;
      font-style: normal;
      font-weight: 700;
      line-height: 2.8rem;
      letter-spacing: 0px;
      margin-bottom: 1.6rem;
    }

    > h3 {
      font-family: abs.$font-sans;
      font-size: 1.7rem;
      font-style: normal;
      font-weight: 700;
      line-height: 2.3rem;
      color: abs.$blue-clr;
    }
    > p {
      font-family: abs.$font-sans;
      font-size: 1.4rem;
      font-style: normal;
      font-weight: 400;
      line-height: 2.3rem;
      letter-spacing: 0px;
    }

    &-btn {
      font-size: 1.3rem;
    }
  }
  // &:hover {
  //   max-width: 34rem;
  //   max-height: 44.1rem;
  // }
}
