@use '../abstracts' as abs;

.filter {
  padding: 2rem 3rem;
  background-color: abs.$light-blue-clr;

  &__container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    &-search {
      margin: 1rem auto;
      display: flex;
      align-items: center;
      flex: 1;

      > input {
        padding: 1.4rem 0;
        font-size: 1.6rem;
        border-radius: 4px;
        border: 1px solid #dddddd;
        box-shadow: 0px 1px 5px 0px #0000001a inset;
        background: #fff;
        text-indent: 0.89rem;
        outline: none;

        &:active,
        &:focus {
          border: 1px solid abs.$blue-clr;
        }
      }

      &-btn {
        @include abs.center;
        background-color: abs.$blue-clr;
        padding: 1.18rem;
        border-radius: 4px;
        margin-inline-start: 1rem;
        font-size: 600;

        > button {
          border-radius: 4px;
          font-size: 1.6rem;
          display: block;
          margin-inline-start: 1rem;
          border: none;
          color: white;
          background-color: abs.$blue-clr;
        }
      }
    }
    &-seprator {
      @include abs.center;
      margin: 2rem 0;
      > span {
        text-align: center;
        font-size: 1.3rem;
        width: 10rem;
      }

      &::before,
      &::after {
        content: '';
        border-top: 0.1rem solid #dadaee;
        margin: 0 1rem;
        width: 50%;
      }
    }

    &-dropdown {
      display: flex;
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 2.1rem;
    }
  }
  @include abs.query(phone) {
    &__container {
      &-search {
        > input {
          justify-content: center;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }
        &-btn {
          margin-inline-start: 0;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;

          padding: 1.18rem;

          > button {
            display: none;
          }
        }
      }
    }
  }
  @include abs.query(tablet) {
    &__container {
      &-search {
        margin: 2rem auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        > input {
          border-radius: 4px;
        }

        &-btn {
          border-radius: 4px;
          margin-inline-start: 1rem;
          font-size: 600;
          > button {
            border-radius: 4px;
            font-size: 1.6rem;
            display: block;
            margin-inline-start: 1rem;
            border: none;
            color: white;
            background-color: abs.$blue-clr;
          }
        }
      }
      &-dropdown {
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
      }
    }
  }

  @include abs.query(noteBook) {
    &__container {
      &-search {
        margin: 2rem auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        > input {
          border-radius: 4px;
        }

        &-btn {
          border-radius: 4px;
          margin-inline-start: 1rem;
          font-size: 600;
          > button {
            border-radius: 4px;
            font-size: 1.6rem;
            display: block;
            margin-inline-start: 1rem;
            border: none;
            color: white;
            background-color: abs.$blue-clr;
          }
        }
      }
      &-dropdown {
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
      }
    }
  }
  @include abs.query(desktop) {
    &__container {
      &-dropdown {
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 6rem;
      }
    }
  }
}
