@use '../abstracts' as abs;

.filter__container {
  margin-top: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter__search {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 104px;
  width: 516px;
  border-radius: 4px;
  margin: 4rem 0 0 0;

  > input {
    font-family: abs.$font-sans;
    font-weight: 400;
    font-size: 1.7rem;
    padding: 1.7rem 2.5rem;
    width: 260px;
    border-style: none;
  }
  > input:focus {
    outline: none;
  }

  &-btn {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-top-right-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
    padding: 1.59rem 2.5rem;
    font-family: abs.$font-sans;
    > button {
      border-style: none;
      font-size: 1.7rem;
      font-weight: 400;
      font-family: abs.$font-sans;
      margin-inline-start: 1rem;
    }
  }
}

.filter__seprator {
  height: 0.785919189453125px;
  width: 1920px;
  text-align: center;
  border-bottom: 0.7px solid #d4d4d4;
  line-height: 0.1em;
  margin: 3rem 0;
  color: rgb(146, 146, 146);
  > span {
    font-size: 1.6rem;
    padding: 0 19px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0px;
    font-family: abs.$font-sans;
  }
}

.filter__dropdown {
  width: 1661px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 12rem;
}
