@use '../abstracts' as abs;

.filter {
  border: 2px dotted red;

  // background-color: abs.$light-blue-clr;
  @include abs.query(phone) {
    &__container {
      display: flex;
      flex-direction: column;
      &-search {
        // border: 2px solid green;
        background-color: aqua;
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
      }
      &-seprator {
        background-color: bisque;
        text-align: center;

        line-height: 0.5em;
        margin: 3rem 0;
      }
      &-dropdown {
      }
    }
  }
  // &__container {
  //   margin: 7rem auto 0;
  //   align-items: center;
  //   display: flex;
  //   max-width: 144rem;
  //   flex-direction: column;

  //   &-search {
  //     margin: 4rem 0 0 0;

  //     > input {
  //       font-family: abs.$font-sans;
  //       font-weight: 400;
  //       font-size: 1.7rem;
  //       padding: 1.7rem 2.5rem;
  //       border-style: none;
  //       border-radius: 4px;
  //     }
  //     > input:focus {
  //       outline: none;
  //     }

  //     &-btn {
  //       display: flex;
  //       align-items: center;
  //       justify-content: space-evenly;
  //       border-top-right-radius: 0.4rem;
  //       border-bottom-right-radius: 0.4rem;
  //       padding: 1.59rem 2.2rem;
  //       font-family: abs.$font-sans;
  //       background-color: abs.$blue-clr;

  //       > button {
  //         border-style: none;
  //         background-color: abs.$blue-clr;
  //         font-size: 1.7rem;
  //         font-weight: 400;
  //         font-family: abs.$font-sans;
  //         margin-inline-start: 1rem;
  //         color: #fff;
  //       }
  //     }
  //   }

  //   &-seprator {
  //     text-align: center;
  //     border-bottom: 0.7px solid #d4d4d4;
  //     line-height: 0.5em;
  //     margin: 3rem 0;
  //     color: rgb(108, 106, 106);
  //     > span {
  //       font-size: 1.6rem;
  //       padding: 0 19px;
  //       font-style: normal;
  //       font-weight: 400;
  //       letter-spacing: 0px;
  //       font-family: abs.$font-sans;
  //     }
  //   }

  //   &-dropdown {
  //     display: flex;
  //     gap: 6rem;
  //     padding: 2rem;
  //   }
  // }
}
