@use '../abstracts' as abs;

.footer {
  margin-top: 15rem;
  position: relative;
  overflow: hidden;
  &__image-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;

    > h3 {
      color: #fff;
      font-size: 1.4rem;
      margin-left: -4.9rem;
    }
  }
}
