@use '../abstracts' as abs;

.gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__body {
    display: flex;
    width: 1441px;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    margin: 0 auto;
  }

  > button {
    margin-top: 12rem;
    height: 48px;
    width: 132px;
    border-radius: 4px;
    padding: 13px, 24px, 13px, 24px;
    background-color: transparent;
    font-family: abs.$font-sans;
    font-size: 1.6rem;
    font-weight: 600;
  }
}
