@use '../abstracts' as abs;

.gallery {
  display: flex;
  border: 2px dotted green;
  max-width: 144rem;
  margin: 2rem auto;

  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__body {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    margin: 0 auto;
  }
}
