@use '../abstracts' as abs;

.signup {
  @include abs.center;
  margin-top: 10rem;
  &__success {
    border-radius: 0.4rem;
    > h1 {
      font-size: 2.1rem;
      padding: 0.8rem;
    }
    > label {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.6rem;
      padding: 0.8rem;
      font-family: abs.$font-sans;
      > span {
        margin-inline-end: 0.7rem;
      }
    }
  }
  &__container {
    // height: 54rem;
    background-color: abs.$light-blue-clr;
    font-size: 3rem;
    padding: 2.3rem 1.3rem;
    border-radius: 4px;
    width: 34rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
      rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    > h1 {
      font-size: 2.4rem;
      padding: 0.8rem;
    }
    > h2 {
      font-size: 2.4rem;
      padding: 0.8rem;
      align-self: center;
    }

    &__item {
      display: flex;
      flex-direction: column;
      padding: 1rem 0.5rem;
      &-pwd {
        display: flex;
        align-items: center;
        font-size: 1.2rem;
        font-family: abs.$font-sans;
        font-weight: 600;
        > p {
          margin-inline-start: 0.5rem;
          color: rgb(251, 83, 83);
          font-size: 1.3rem;
          line-height: 1.5rem;
        }
      }
      &-offscreen {
        display: none;
      }
      &-term {
        display: flex;
        align-items: center;

        font-family: abs.$font-sans;
        font-size: 1.34rem;
        font-weight: 500;
        color: rgb(68, 68, 68);
        padding: 0 1rem;
        &-body {
          margin-inline-start: 1rem;
          > p {
            color: rgb(32, 32, 32);
            font-size: 1.5rem;
          }
        }
      }
      > label {
        font-family: abs.$font-sans;
        font-size: 1.6rem;
        font-weight: 500;
      }
      > input {
        font-family: abs.$font-sans;
        font-weight: 500;
        font-size: 1.4rem;
        padding: 1rem 2.5rem;
        border-style: none;
        border-radius: 0.4rem;
      }
      > input:focus {
        outline: none;
      }

      > button {
        background-color: abs.$blue-clr;
        border-radius: 0.4rem;
        color: #fff;
        padding: 0.8rem 2.8rem;
        border-style: none;
        font-size: 1.5rem;
        font-weight: 500;
        font-family: abs.$font-sans;
        cursor: pointer;
        &:disabled {
          cursor: default;
        }
      }
    }
    > p {
      font-size: 1.4rem;
      margin: 0.6rem 1.7rem;
    }
  }
}
