@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin query($bp) {
  @if $bp == phone {
    @media only screen and (max-width: 26.499em) {
      @content;
    }
  } @else if $bp == noteBook {
    @media only screen and (min-width: 26.5em) and (max-width: 45.749em) {
      @content;
    }
  } @else if $bp == tablet {
    @media only screen and (min-width: 45.75em) and (max-width: 63.99999em) {
      @content;
    }
  } @else {
    @media only screen and (min-width: 64em) {
      @content;
    }
  }
}
