@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

// Colors
$dark-blue-clr: #091638;
$blue-clr: #1c3988;
$hover-blue-clr: #6e8ae9;
$light-blue-clr: #f3f3fa;
$white-clr: #ffffff;

// Fonts
$font-merri: 'Merriweather', serif;
$font-sans: 'Open Sans', sans-serif;
