@use "../abstracts" as abs;

.search__page {
  @include abs.center;
  flex-direction: column;
}

.search__page-title {
  > h1 {
    margin: 8rem 0 0 0;
    font-size: 5.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 6.9rem;
    letter-spacing: 0px;
    text-align: center;
  }

  > p {
    font-size: 2.1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3.4rem;
    letter-spacing: 0px;
    text-align: center;
  }
}

.search__page_filter-settings {
}
