@use '../abstracts' as abs;

.search__page {
  @include abs.center;
  flex-direction: column;
}

.search__page-title {
  > h2 {
    margin: 8rem 0 0 0;
    letter-spacing: 0px;
    text-align: center;
  }

  > p {
    margin: 2rem 1.5rem;
    font-size: 2.1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3.4rem;
    letter-spacing: 0px;
    text-align: center;
  }
}
