@use "../abstracts" as abs;

.filter__container {
  margin-top: 7rem;
  background: abs.$primary-white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter__search {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 104px;
  width: 516px;
  border-radius: 4px;
  background: abs.$primary-white;
  margin: 4rem 0 0 0;

  > input {
    font-family: abs.$font-sans;
    font-weight: 400;
    font-size: 1.7rem;
    padding: 1.7rem 2.5rem;
    width: 260px;
    border-style: none;
  }
  > input:focus {
    outline: none;
  }
}

.filter__search-btn {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 0.4rem;
  padding: 1.49rem 2.5rem;
  color: abs.$primary-white;
  background: abs.$secondary-blue;
  font-family: abs.$font-sans;
}

.filter__search-btn > button {
  border-style: none;
  font-size: 1.4rem;
  font-weight: 700;
  color: abs.$primary-white;
  background: abs.$secondary-blue;
  font-family: abs.$font-sans;
  margin-inline-start: 1rem;
}

.filter__seprator {
  height: 0.785919189453125px;
  width: 1920px;
  text-align: center;
  border-bottom: 0.7px solid #d4d4d4;
  line-height: 0.1em;
  margin: 3rem 0;
  > span {
    font-size: 1.4rem;
    background: abs.$primary-white;
    padding: 0 19px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0px;
  }
}

.filter__dropdown {
  width: 1661px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 12rem;
}
