@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

// Colors
$primary-blue: #091638;
$secondary-blue: #1c3988;
$teriatery-blue: #6e8ae9;
$quarterly-blue: #e8f0fe;

$primary-white: #f3f3fa;
$secondary-white: #ffffff;

// Fonts
$font-merri: "Merriweather", serif;
$font-sans: "Open Sans", sans-serif;
