@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var.$font-merri;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  font-family: var.$font-merri;
}

p {
  font-family: var.$font-sans;
}

::selection {
  background: var.$quarterly-blue;
}
