@use '../abstracts/variables' as var;
@use '../abstracts/mixins' as mix;

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var.$font-merri;
}

ul {
  list-style: none;
}

a {
  color: var.$blue-clr;
}
a:hover {
  color: var.$hover-blue-clr;
  font-style: italic;
}

h1,
h2,
h3 {
  font-family: var.$font-merri;
}

p {
  font-family: var.$font-sans;
}

::selection {
  background: var.$light-blue-clr;
}

@media only screen and (max-width: 26.563em) {
  h1 {
    font-size: 3.6rem;
    line-height: 4.39rem;
  }
  h2 {
    font-size: 3.2rem;
    line-height: 3.84rem;
  }
  h3 {
    font-size: 2.8rem;
    line-height: 3.72rem;
  }
  p {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
  .subheadline {
    font-size: 21.25rem;
    line-height: 28.3rem;
  }
}

@media only screen and (min-width: 25.563em) and (max-width: 48em) {
  h1 {
    font-size: 5.188rem;
    line-height: 6.9rem;
  }
  h2 {
    font-size: 4.15rem;
    line-height: 5.52rem;
  }
  h3 {
    font-size: 3.3203rem;
    line-height: 4.42rem;
  }
  p {
    font-size: 1.7rem;
    line-height: 2.55rem;
  }

  .subheadline {
    font-size: 21.25rem;
    line-height: 2.83rem;
  }
}

@media only screen and (min-width: 48em) {
  h1 {
    font-size: 6.485rem;
    line-height: 8.63rem;
  }
  h2 {
    font-size: 5.188rem;
    line-height: 6.9rem;
  }
  h3 {
    font-size: 4.15rem;
    line-height: 5.52rem;
  }
  p {
    font-size: 1.7rem;
    line-height: 2.55rem;
  }
  .subheadline {
    font-size: 2.125rem;
    line-height: 2.83rem;
  }
}
